{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Current Photos</h1>

<div class="row">
    {% for photo in photos %}
    <div class="col-md-4">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img class="card-img-top" src="{% static photo.image %}" style="height: 10rem;">
            <div class="card-body">
                <h5 class="card-title">{{ photo.title }}</h5>
                <p class="card-text">{{ photo.description }}</p>

            </div>
            <a href="{% url 'photo_details' photo.pk %}" class="btn btn-primary" style="align-items: center;">
                Read More
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}